/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}


#wrapper {
    width: 100%;
}

#header {
    position: relative;
    background: #1095c3; /* For browsers that do not support gradients */
    background: linear-gradient(#1095c3, #00577e); /* Standard syntax (must be last) */
}

#header .holder {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

#logo {
    background: url("logo.png") no-repeat;
    width: 243px;
    height: 121px;
    font-size: 0;
    line-height: 0;
    margin: 0 0 -25px;
}
#menu {
    background: #cf2751;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu li {
    float: right;
    margin-left: 20px;
}

#menu li a {
    display: block;
    color: #fff;
    padding: 14px 16px;
}

#menu li a:hover {
    color: #fff;
    background: #f00;
}
#content {
    margin: 0 auto;
    width: 1000px;
}
.content-items {
    margin: 0 0 20px -5%;
}
.content-items img {
    width: 100%;
}
.content-items .polaroid {
    width: 28%;
    padding: 40px 0 0 5%;
    display: inline-block;
}
.polaroid .item {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.5);
    background: #fff;
}
.polaroid p {
    display: inline-block;
    margin: 0;
}
.polaroid i {
    margin-left: 18px;
    margin-bottom: 18px;
    margin-right: 18px;
    color: #e0e0e0;
}
.polaroid i:hover {
    color: #cf2751;
}
.polaroid .container {
    padding: 0 20px;
}
.food_name {
    text-align: left;
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 17px;
    color: #cf2751;
}
.food_type {
    line-height: 55px;
    float: right;
    font-size: 15px;
    color: #a1a1a1;
}
.heart{
    text-align: left;
}
.share{
    float: right;
}
#footer {
    width:100%;
    height:45px;
    border-top: 5px solid #cf2751;
    background: #1198c6; /* For browsers that do not support gradients */
    background: linear-gradient(#1198c6, #005e88);
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#footer li {
    display: inline-block;
}

#footer li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin: 0 10px;
    padding: 14px 16px;
    text-decoration: none;
}

#footer li a:hover:not(.active) {
    color: #cf2751;
}
